*{
    --content2:#1a4175;
    --content1: #dedede;
}
.visible{
    display: none;
}
.c2{
    background-color: var(--content2);
    color: var(--content1);
    z-index: 900;
}
.c1{
    background-color: var(--content1);
    z-index: 900;
    color: var(--content2);
}
.contentTitle{
    font-size:60px;
    text-align: center;
    width: 100%;
}
body{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
#corp{
    position: absolute;
    top: 10%;
    bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
/* -------------------------------------------------------------------- */
#header{
    z-index: 1200;
    color:var(--content2);
    font-weight: 500;
    background-color: white;
    border-bottom: 1px solid var(--content2);
}
.sticky {
    position: fixed;
    height: 12.5%;
    top: 0;
    width: 100%;
}  
#logo{
    border-right: 1px solid grey;
    margin-left: 20px;
    padding-right: 2%;
}
#el1:hover, #el2:hover, #el3:hover, #el4:hover{
    text-decoration: underline;
}
#top{
    background-color: var(--content1);
    height: 90%;
    z-index: 900;
    overflow: auto;
}
#searchField{
    border-color: var(--content2);
}


#connectDiv:hover{
    transform: scale(0.95);
}
#connect:active{
    transform: scale(0.90);
}
#citation{
  color: var(--content2);
  font-size: 30px;
}
.typewriter{
  text-align: center;
  overflow: hidden;
  border-right: .15em solid black; 
  white-space: nowrap;
  font-style: italic;
  max-width: fit-content;
  margin: 0 auto;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--content2); }
}
/* -------------------------------------------------------------------- */

.aproposContent{
    margin-bottom: 20px;
    font-size: 25px;
    width:40%;
    text-align: center;
}

/* -------------------------------------------------------------------- */

#tests{
    text-align: center;
    height: auto;
    overflow: auto;
}
.carousel-indicators{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--content1);
}
figure{
    width: 100%;
    text-align: center; 
    height: 100%;
    margin-top: 0;
}
.icone{
    color: var(--content2);
    font-size: 60px;
}
#svg{
    border-radius: 100%;
}
@keyframes ldio-84lxrpe6gsk {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
} 
.circle{
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid #000;
    border-color: #1a4175 transparent #1a4175 transparent;
}
.ldio-84lxrpe6gsk {
    width: 100%;
    height: 100%;
}

.fleches2{
    height: 30px; 
    width:30px;
    margin-top:8px;
}
.outlineC2{
    background-color: transparent;
    border: 1.5px solid var(--content2);
    color: var(--content2);
}
.outlineC2:hover{
    animation: C2gradient 1000ms;
    color: white;
    background-color: var(--content2) 
}
@keyframes C2gradient{
    From{
        background-color: transparent;
        color: var(--content2);

    }
    To{
        background-color: var(--content2);
        color: white;
    }
}
/* -------------------------------------------------------------------- */

#Accompagnement{
    width: 100%;
    overflow: auto;
    height: auto;
}
#cards{
    width: 100%;    
    margin-bottom: 20px;    
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.card{
    color: var(--content2);
    width: 45%;
    box-shadow: -2px -2px 20px 0px #001838;
}
 .card-title{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
 }
.card-img-top{
    background-color: grey;
    font-size: 30px;
    height: 100px;
    text-align: center;
}
.cardContent{
    width: 100%;
    height: 100%;
    
}
.cardContent:hover{
    animation: progressZoom 1.02s;
    transform: scale(1.048) translateZ(0);
}

@keyframes progressZoom{
    From{
        backface-visibility: hidden;
        transform: scale(1.00);
    }
    To{
        transform: scale(1.048) translateZ(0);
        
    }
}

/* -------------------------------------------------------------------- */

#soutien{
    width:100%;
    position:relative;
    overflow: auto;
    height: auto;
}
#soutienTitle{
    width: 100%;
    text-align: center;
    height: 20%
}
.snet{
    margin-right: 50px;
}

/* -------------------------------------------------------------------- */

#faq1{
    width:100%;
    height: 80%;
    background-color: var(--content2);
    color: var(--content2);
}
#faq1p{
    position: absolute;
    width: 40%;
    transform: translateY(30%);
    text-align: center;
    font-size: 40px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: var(--content1);
}
#faq2{
    height: auto;
    overflow: auto;
    color: var(--content2);
}
.question{
    font-size: 30px;
    margin-top: 40px;
    width: 30%;
}
.reponse{
    font-size: 25px;
}

/* -------------------------------------------------------------------- */
#contact{
    background-color: var(--content1);
    background-size: cover;
    height: auto;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--content2);
}
#contactForm{
    width: 50%;
    margin-left: 23%;
}
.form-group{
    width: 70%;
    margin-left: 20%;
}
.contactField{
    border: 1.5px solid rgba(255,255,255,0.4);
    background-color: rgba(0,0,0,0.4);
    color: white;
}
.contactField:focus{
    border: 1.7px solid rgba(255,255,255,0.45);
    
}
.contactField::placeholder{
    color: white;
    opacity: 0.4;
}

#contactSubmit:hover{
    opacity: 1;
    transform: scale(1.03);
}
.outlineBlack{
    background-color: black;
    border: 2px solid rgba(255,255,255,0.4);
    color: white;
    opacity: 0.4;
}
.outlineBlack:hover{
    animation: blackGradient 1200ms;
    color: white;
    background-color: black 
}
@keyframes blackGradient{
    From{
        opacity: 0.4;
    }
    To{
        opacity: 1.0;
    }
}

/* //////////////////////////////////////////////////////////////////////////////*/
.gm{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 2.5%;
    color: var(--content1);
}