*{
    --content2:#2C60A7;
    --content1: #E3E3E4;    

}

body{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.c1{
    background-color: var(--content1);
    z-index: 900;
    color: var(--content2);
}

.c2{
    background-color: var(--content2);
    color: var(--content1);
    z-index: 900;


}

.contentTitle{
    font-size:60px;
}

.page{
    padding-top: 3%;
    margin: 0 auto;
    height: 70%;
    width: 100%;
}

#title{
    line-height: 60px;
    width: 100%;
    text-align: center;
    color: var(--content2); 
    position: absolute;
     top: 45%; /* poussé de la moitié de hauteur du référent */
    transform: translateY(-50%);
}

#logo{
    text-align: center;
}

#header{
    z-index: 1000;
    color: white;
}

.sticky {
  position: fixed;
  border-bottom: 2px solid var(--content2);
  background-color: white;
  top: 0;
  width: 100%;
}

.nosticky{
    background-color: transparent;
}

.sticky + .content {
  padding-top: 60px;
}

#educaTitle{
    width: 100%;
    height: 100%;
    color:var(--content2);
    text-align: center;
}

#prezText{
    margin: 0;
    margin-right: 40px;
    margin-left: 100px;
    height: 70%;
}

.writing{
    border-radius: 150px;
}

#cards{
    width: 100%;    
    margin-bottom: 20px;    
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}



.card-img-top{
    background-color: grey;
    font-size: 30px;
    height: 100px;
    text-align: center;
}

#haut{
    background-image: url(./389873.jpg);
    background-attachment: fixed;
    position: relative;
    height: 100%;
}

#el1:hover, #el2:hover, #el3:hover, #el4:hover{
    text-decoration: underline;
} 

#discover{    
    text-align: center;
    position: absolute;
    top: 50%;    
    width: 100%;
}

.form-group{
    width: 70%;
    margin-left: 20%;
}
.navigator{
    outline: none !important;
    position: fixed;
    z-index: 1000;
    width: 90px;
    border: 2px solid grey;
    height: 55px;
    font-size: 35px;
}
.navigator:active{
    transform: scale(0.95);
}

.visible{
display: none;}